CHAITANYA V

In [1]:
# Code to find the path of the notebooks being saved.


import os
os.getcwd()

'C:\\Users\\Dell\\Chaitanya V'

RAW NB CONVERT

Raw NBConvert option will convert a particulat cell into a text cell format which will essentially work as a 
notebook.

MARK DOWN OPTION

Using Markdown and indentation.

>Topic 1
>>Sub topic 1.1

>>Sub topic 1.2

>Topic 2
>>Sub topic 2.1

>>Sub topic 2.2

In [5]:
#Understanding the print function and its applications.

A=22
B=34
C=42
D=A+B+C

D

98

In [6]:
print("Addition of A,B and C =",D)

Addition of A,B and C = 98

In [7]:
print("Addition of A=",A,"B=",B,"C=",C,"is",D)

Addition of A= 22 B= 34 C= 42 is 98

In [22]:
#Determining the data type

a=12
b=43.23
c="Awesome"
d=343+67j

type(a)

int

In [14]:
type(b)

float

In [16]:
type(c)

str

In [23]:
type(d)

complex

In [39]:
#Forward and backward indexation
#[Start index : End index]. End index is taken as End index-1.

String1="Mo' money,mo' problems."
String2="I'm not superstitios, but I'm a little stitious."

#Forward indexation
print(String1[4:9])

money

In [42]:
#Backward indexation

print(String2[-9:-1])

stitious

# Order of operations

--PEMDAS--

1.Parentheses 
2.Exponentiation
3.Multiplication
4.Division
5.Addition
6.Subtraction

In [45]:
2+43-3**3-32*24/3+(6*2)

-226.0

Order of operation for the above calculation

1.P-(6*2)=12
=2+43-3**3-32*24/3+12

2.E-3**3=27
=2+43-27-32*24/3+12

3.Multiplication and division (Associativity being left to right)
=2+43-27-32*8+12
=2+43-27-256+12

4.Addition and Subtraction (Associativity being left to right)
=45-27-256+12
=18-256+12
=-238+12
=-226

With strings '+' works as concatination and '*' as repitition

In [68]:
str1="Legend"+" wait for it"+" dary"
str2="Legendary!"
print(str1)
print(str2)

Legend wait for it dary
Legendary!

In [57]:
str2="Entertainment "*3

str2

'Entertainment Entertainment Entertainment '

# Typecasting

Typecasting is converting one data type into another. Although certain conversions are not viable, like converting 'string' into an 'int' as such.

Some examples being as follows:

In [71]:
string="Hey everyone!"
string

'Hey everyone!'

In [72]:
#Converting string into a list

list(string)

['H', 'e', 'y', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e', '!']

In [74]:
#Converting an integer into a float.

a=432
a

432

In [75]:
#"a" being an integer now converted into a float.

float(a)

432.0

# -------DAY 2 - Assignment-------