# LET'S UPGRADE!

CHAITANYA V

In [86]:
#Dictionary and it's default functions

jersey_numbers={"Lionel Messi":"10","Ronaldo":"07","Neymar":"11","De Bruyne":"17"}
goals=4

#get function - returns the value of the item with the specified key.

jersey_numbers.get("Lionel Messi")

'10'

In [49]:
#values function - fetches all the values from the assigned data.

jersey_numbers.values()

dict_values(['10', '07', '11', '17'])

In [45]:
#copy function - makes a copy of the said data.

jersey_numbers.copy()

{'Lionel Messi': '10', 'Ronaldo': '07', 'Neymar': '11', 'De Bruyne': '17'}

In [50]:
#from keys function - creates a new dictionary with keys from seq and values set to value.

jersey_numbers.fromkeys(jersey_numbers,goals)

{'Lionel Messi': 4, 'Ronaldo': 4, 'Neymar': 4, 'De Bruyne': 4}

In [51]:
#items function - used to return the list with all dictionary keys with values.

jersey_numbers.items()

dict_items([('Lionel Messi', '10'), ('Ronaldo', '07'), ('Neymar', '11'), ('De Bruyne', '17')])

In [52]:
#keys function - returns a view object that displays a list of all the keys in the dictionary, where dictionary holds key : value pair.
    
jersey_numbers.keys()

dict_keys(['Lionel Messi', 'Ronaldo', 'Neymar', 'De Bruyne'])

In [59]:
#pop function - The pop() method removes and returns an element from a dictionary having the given key.

jersey_numbers.pop("Neymar")

'11'

In [66]:
#set default function - setdefault() method returns the value of a key. If not, it inserts key with a value to the dictionary.

jersey_numbers.setdefault("Lionel Messi")

'10'

In [89]:
#updated function - The update() method updates the dictionary with the elements from the another dictionary object.

jersey_numbers_updated={"Rooney":"10"}
jersey_numbers.update(jersey_numbers_updated)

jersey_numbers

{'Lionel Messi': '10',
 'Ronaldo': '07',
 'Neymar': '11',
 'De Bruyne': '17',
 'Rooney': '10'}

In [91]:
#clear function - clears all the items from the dictionary.

print(jersey_numbers.clear())

None

# List and it's default functions

In [147]:
LaCasaDePapel = ["Rio", "Denver","Tokyo","Helsinki"]

print(LaCasaDePapel)

['Rio', 'Denver', 'Tokyo', 'Helsinki']

In [148]:
#append - add an item to the end of the list

LaCasaDePapel.append("Moscow")

print(LaCasaDePapel)

['Rio', 'Denver', 'Tokyo', 'Helsinki', 'Moscow']

In [149]:
#extend - extends the list by appending all the items from the iterable.

LaCasaDePapel.extend(["Nairobi"])

LaCasaDePapel

['Rio', 'Denver', 'Tokyo', 'Helsinki', 'Moscow', 'Nairobi']

In [150]:
#insert - Inserts an item at a given position. 

LaCasaDePapel.insert(3,"Lesbon")

LaCasaDePapel

['Rio', 'Denver', 'Tokyo', 'Lesbon', 'Helsinki', 'Moscow', 'Nairobi']

In [151]:
#remove - Remove the first item from the list whose value is equal to 'x'.

LaCasaDePapel.remove("Nairobi")

LaCasaDePapel

['Rio', 'Denver', 'Tokyo', 'Lesbon', 'Helsinki', 'Moscow']

In [152]:
#pop - Removes the item at the given position in the list, and returns it.

LaCasaDePapel.pop(2)

LaCasaDePapel

['Rio', 'Denver', 'Lesbon', 'Helsinki', 'Moscow']

In [153]:
#index - the position of the first list item that has a value of 'x'.

LaCasaDePapel.index("Lesbon")

2

In [154]:
#count - counts the number of times 'x' appears in the list.

LaCasaDePapel.count("Denver")

1

In [158]:
#sort - Sorts the items of the list in place. The arguments can be used to customize the operation.

LaCasaDePapel.sort(reverse=True)

LaCasaDePapel

['Rio', 'Moscow', 'Lesbon', 'Helsinki', 'Denver']

In [159]:
#copy - outputs a copy of the list

LaCasaDePapel.copy()

['Rio', 'Moscow', 'Lesbon', 'Helsinki', 'Denver']

# Sets and it's default functions

In [165]:
primes={2,3,5,7,11}
evens={2,4,6,8,10}

#add
primes.add(103)

primes

{2, 3, 5, 7, 11, 103}

In [162]:
#copy

primes.copy()

{2, 3, 5, 7, 11, 103}

In [166]:
#difference

primes.difference(evens)

{3, 5, 7, 11, 103}

In [168]:
#discard

primes.discard(103)

primes

{2, 3, 5, 7, 11}

In [169]:
#intersection

primes.intersection(evens)

{2}

In [170]:
#disjoint

primes.isdisjoint(evens)

False

In [171]:
#subset

primes.issubset(evens)

False

In [174]:
#pop

primes.pop()

2

In [175]:
#symmetric difference - The symmetric difference of two sets A and B is the set of elements that are in either A or B, but not in their intersection.

primes.symmetric_difference(evens)

{2, 3, 4, 5, 6, 7, 8, 10, 11}

In [177]:
#Union set

primes.union(evens)

{2, 3, 4, 5, 6, 7, 8, 10, 11}

# -------Day 1 - Assignment-------